@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Default design */
.color1{
    color: #131313;
}
.color2,.nav-links a{
    color: #474747;
}
.color3{
    color: #727272;
}
.display-flex, .nav-links{
    display: flex;
}
/* navbar design */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding :1px 90px 10px 90px;
}
.logo{
    font-size: 1.5rem;
}
.nav-links{
    gap: 40px;
}
.nav-links a{
    text-decoration: none;
    font-size: 1rem;
}

/* Banner design */
.banner-text{
    text-align: center;
    padding: 0px 330px;
}
.banner-text h1{
    font-size: 4.125rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
.banner-text p{
    margin: 20px 0;
    font-size: 1rem;
    line-height: 26px;
}
.btn{
    font-size: 1.125rem;
    font-weight: 600;
    padding: 18px 20px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #FF900E;
}
@media screen and (max-width: 840px){
    .navbar{
        padding :1px 20px 10px 20px;
    }
    .display-flex{
        flex-direction: column;
        align-items: center;
    }
}